{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_css') }}
{% endblock %}

{% block head %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="main-container">
       <h3>Successfully added car to the database!</h3>
        <a href="/main"><button type="button" class="btn btn-primary" id="add-car-btn">Return</button></a>
    </div>
    {% block javascripts %}
    {% endblock %}
{% endblock %}
